html, body {
    margin: 0;
    padding: 0;
    /* apply a natural box layout model to all elements, but allowing components to change */
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
    &:focus {
        outline: none;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

button {
    background-color: $color-primary;
    @include box-shadow($box-shadow1...);
    padding: $padding-button;
}