// colors
$color-primary: #e0922f;
$color-black: #000;
$color-resilient-coders: #ed1b24;
$color-orange: #e0922f;
$color-grey: #414345;
$color-white: #fff;

// padding
$padding-footer: 30px;

// fonts
$font-family-primary: 'Oswald', sans-serif;
$font-family-secondary: 'Raleway', 'Roboto', sans-serif;
