// colors
$color-primary: #e0922f;
$color-black: #000;
$color-resilient-coders: #ed1b24;
$color-orange: #e0922f;
$color-grey: #414345;
$color-white: #fff;
$color-transparent: transparent;

// padding
$padding-header: 15px 60px;
$padding-footer: 60px 60px;
$padding-button: 15px 15px;

// fonts
$font-family-primary: 'Oswald', sans-serif;
$font-family-secondary: 'Raleway', 'Roboto', sans-serif;
