<header>
    <nav>
        <ul>
            {% for item in site.menus.header %}
            <li class="menu-item-{{ loop.index }}">
                <a href="{{ item.url }}" title="Go to {{ item.title }}">
                    {{ item.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <ul>
            {% for item in site.menus.header-logo %}
            <li class="menu-item-{{ loop.index }}">
                <a href="{{ item.url }}" title="Go to {{ item.title }}">
                    <img src={{ item.logo-image }} alt="{{ item.title }}" />
                </a>
            </li>
            {% endfor %}
        </ul>
        <ul>
            {% for item in site.menus.header-cta %}
            <li class="menu-item-{{ loop.index }}">
                <a href="{{ item.url }}" title="Go to {{ item.title }}">
                    <button>
                        {{ item.title }}
                    </button>
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>