<section class="list-partial">
    {% for list in page.lists %}
    <div class="list-partial-container">
        {% if list.title %}
            <h3>{{ list.title }}</h3>
        {% endif %}

        {% for bullet in list.bullets %}

            {% if bullet.title %}
                <p class="list-partial-bullet-title">{{ bullet.title }}</p>
            {% endif %}
            {% if bullet.description %}
                <p class="list-partial-bullet-description">{{ bullet.description }}</p>
            {% endif %}

        {% endfor %}

        {% if list.footnote %}
            <em>{{ list.footnote }}</em>
        {% endif %}
    </div>
    {% endfor %}
</section>