$logo-image-width: 40px;
footer {
    background-color: $color-black;
    float: left;
    padding: $padding-footer;
    width: 100%;
    section {
        float: left;
        padding: 1em 0;
        @media only screen and (max-width: 768px) {
            width: 100%;
        }

        &:first-of-type {
            h5 {
                color: $color-primary;
            }
        }
        &:last-of-type {
            float: right;
            h5 {
                color: white;
            }
            li {
                margin: 0 0 10px 0;
                opacity: 0.75;
            }
            li, a {
                clear: both;
                color: white;
                display: block;
                float: left; 
            }
        }    
    }
    h5 {
        margin: 0 0 1em 0;
        text-transform: uppercase;
    }
    ul {
        margin: 0 0 1em 0;
        padding: 0;
    }
    li {
        color: white;
        display: inline-block;
        margin-right: 10px;
        a {
            color: white;
        }
    }
    .fa, i.fa {
        font-size: 2em;
        margin-right: 10px;
    }
    hr {
        float: left;
        width: 100%;
    }
    small {
        color: white;
        float: left;
        width: calc( 100% - #{$logo-image-width} );

        a {
            color: $color-primary;
            &:hover {
                color: $color-resilient-coders;
            }
        }
    }
    img {
        float: right;
        max-height: auto;
        width: $logo-image-width;
    }
}