header {
    background-color: $color-transparent;
    padding: $padding-header;
    nav {
        float: left;
        width: 100%;
        ul {
            float: left;
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center;
            width: 33%;
            &:first-of-type {
                text-align: left;
            }
            &:last-of-type {
                text-align: right;
            }
        }
        img {
            height: auto;
            max-width: 60px;
            margin: 0 auto;
        }
    }
}