.row-banner {
    align-items: center;
    background-color: $color-white;
    display: flex;
    float: left;
    height: 100vh;
    justify-content: center;
    max-height: $max-banner-height;
    margin: 0 auto;
    position: relative;
    right: 0;
    width: 100%;
    @media only screen and (max-width: $max-mobile-width) {
        max-height: none;
        padding: $spacer-sm;
    }
    .row-banner-container {
        background-color: $color-grey;
        @include box-shadow($box-shadow1...);
        color: $color-white;
        max-width: $max-row-width;
        margin: 0 auto;
    }
    .row-banner-image-wrapper {
        align-items: center;
        display: flex;
        float: left;
        height: 300px;
        justify-content: center;
        overflow: hidden;
        width: calc(100% / 2);
        @media only screen and (max-width: $max-mobile-width) {
            width: 100%;
        }
    }
    .row-banner-image {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
    .row-banner-content {
        height: 300px;
        float: left;
        padding: $spacer-sm;
        width: calc( (100% / 2) );
        @media only screen and (max-width: $max-mobile-width) {
            height: auto;
            width: 100%;
        }
        h3 {
            margin-top: 0;
        }
        p {

        }
    }
}