--- 
layout: page 
---
<section class="global-row-banner">
    <div class="global-row-banner-container">
        <p>Level Ground Mixed Martial Arts is a tax-exempt nonprofit organization, EIN 46-3915852, and is supported by friends like
            you. If desired, you may opt to support a specific program expense (i.e. Athletics, Academics, or Youth Stipends).</p>
        <p>You may make a one-time or monthly contributions. Donations may be made online, or a check can be mailed to:</p>
        <ul class="address">
            <li>Level Ground Mixed Martial Arts</li>
            <li>527 Columbia Road</li>
            <li>Boston, MA, 02125</li>
        </ul>
        {% include donate-partial.html %}
    </div>
</section>